doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/components/spectrum/spectrum.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
      link(rel='stylesheet', href='/components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css')
    block js
      script(src='/components/jquery/dist/jquery.js')
      script(src='/components/seiyria-bootstrap-slider/dist/bootstrap-slider.js')
      script(src='/components/spectrum/spectrum.js')
      script(src='/components/bootstrap/dist/js/bootstrap.js')
      script(src='/components/blockUI/jquery.blockUI.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
